var CONFIG = {
    logo: 'http://pnx.espaces-naturels.fr/signature/embleme_pnc.png',
    lien_parc: 'www.cevennes-parcnational.fr',
    points: 'http://pnx.espaces-naturels.fr/signature/pointilles_pnc.png',
    parc: 'Parc national des Cévennes',
    tel: 'Tel : +33 (0)4 66 49 53 XX - Mobile : +33 (0)6 XX XX XX XX',
    facebook: '<a href="https://www.facebook.com/Parc.national.des.Cevennes"><img src="http://pnx.espaces-naturels.fr/signature/signature_facebook.png" alt="" id="Facebook" style="BORDER:0px"/></a>',
    twitter: '<A href="https://twitter.com/pnCevennes"><IMG src="http://pnx.espaces-naturels.fr/signature/signature_twitter.png" alt="" id="Twitter" style="BORDER:0px" /></A>',
    youtube: '<A href="https://www.youtube.com/channel/UCnfhAcy-fgEj7TCP4qxzN6g"><IMG src="http://pnx.espaces-naturels.fr/signature/signature_youtube.png" alt="" id="YouTube" style="BORDER:0px" /></A>',
    pinterest: '',
    instagram: '',
    templates: ['classique', 'hardcore']
    //pinterest: '<A href="https://www.pinterest.com/XXXXXXXXXX"><IMG src="http://pnx.espaces-naturels.fr/signature/signature_pinterest.png" alt="" id="Pinterest" style="BORDER:0px"></A>',
    //instagram: '<A href="https://instagram.com/XXXXXXXXXX"><IMG src="http://pnx.espaces-naturels.fr/signature/signature_instagram.png" alt="" id="Instagram" style="BORDER:0px"></A>'
}
