<html ng-app="email">
    <head>
        <meta charset="utf8" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="config.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="css/screen.css" media="screen" />
    </head>
    <body ng-controller="mainCtrl as c">
    <div class="container">
        <h1>Générateur de signature Mail</h1>
        <form name="generateur" novalidate>
            <div class="form">
                <div class="form-group input-group">
                    <label class="input-group-addon" for="prenom">Prénom</label>
                    <input class="form-control" id="prenom" type="text" ng-model="c.prenom" ng-model-options="{getterSetter: true}" placeholder="Paul" required="required"/>
                </div>      
                <div class="form-group input-group">
                    <label class="input-group-addon" for="nom">Nom</label>
                    <input class="form-control" id="nom" type="text" ng-model="c.nom" ng-model-options="{getterSetter: true}" placeholder="Hochon" required="required"/>
                </div>
                <div class="form-group input-group">
                    <label class="input-group-addon" for="fonction">Fonction</label>
                    <input class="form-control" id="fonction" type="text" ng-model="c.fonction" ng-model-options="{getterSetter: true}" placeholder="Factotum" required="required"/>
                </div>
                <div class="form-group input-group">
                    <label class="input-group-addon" for="telephone">Téléphone(s)</label>
                    <input class="form-control" id="telephone" type="text" ng-model="c.tel" ng-model-options="{getterSetter: true}" placeholder="Tél : +33 (0)4 66 49 XX XX - Mobile : +33 (0)6 XX XX XX XX" />
                </div>
                <div>
                    <button class="btn btn-success" type="button" ng-click="c.save()" ng-disabled="generateur.$invalid">Enreg.</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <h1>Générer sa signature</h1>
        <p>
        Il suffit de remplir le formulaire avec les informations demandées.
        </p>
        <p>
        Le nom, le prénom et la fonction peuvent être écrits en minuscule. Ils seront reformatés pour s'afficher joliment.
        </p>
        <p>
        La ligne "Téléphone" se remplit sous la forme "Tel : +33 (0)1 23 45 67 89"<br />
        Il est important de bien mettre l'indicatif Fr (+33) et de séparer les chiffres par paire séparées par une espace.
        </p>
        <p>
        Afin de bien respecter la norme d'affichage, il est demandé de séparer les différents numéros de téléphone par un " - "
        </p>
        <p>
        Appuyer ensuite sur le bouton "Enreg." pour enregistrer le fichier signature (sélectionner "enregistrer le fichier")
        </p>
    </div>
    <div class="container">
        <h1>Comment ajouter sa signature à Thunderbird</h1>
        <p>
            Cliquer sur votre adresse e-mail (au dessus du dossier "Courrier entrant").
        </p>
        <p>
            Sur la page affichée, cliquer sur "Voir les paramètres pour ce compte".
        </p>
        <p>
            Dans la fenetre qui s'ouvre, cocher la case "Apposer la signature à partir d'un fichier, puis sélectionner le fichier que vous venez d'enregistrer qui doit se trouver dans votre dossier "Téléchargements" sous le nom "signature_prenom_nom.htm".
        </p>
    </div>
    <div class="container">
        <h1>Comment ajouter sa signature à Zimbra</h1>
        <p>
            Cliquer sur l'onglet "Préférences", puis dans le menu de gauche, sur "Signatures"
        </p>
        <p>
            Dans la fenetre qui apparait, sur la droite, cliquer sur le bouton "format texte simple" et sélectionner "format HTML"
        </p>
        <p>
            Ouvrez le fichier téléchargé (ou simplement sur cette page, rappuyez sur "Enreg." et sélectionner l'option ouvrir avec votre navigateur).
        </p>
        <p>
            La page "signature" affichée, tout séléctionner (ctrl-A), copier (ctrl-C) et coller dans la zone de texte de zimbra (ctrl-V), en supprimant l'existant si nécessaire. Régler l'utilisation des signatures, puis, pour valider les modifications, appuyer sur "Enregistrer".
        </p>
    </div>
    </body>
</html>
